.container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.h2 {
  text-align: left;
}
.text {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #fff;
}

.image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  flex-shrink: 0;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.7);
  mix-blend-mode: exclusion;
}
